<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- history_json.Titulo %></title>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" type="text/css" href="/css/story.css">
</head>
<body>
    <%- include('../partials/header', {user: user}); %>

    <div class="container-fluid" style="max-width: 1000px;margin-top:40px;margin-bottom: -40px;">
        <img id="return" src="/images/undo.png" alt=""  class="play_button">
    </div>
    <div id="content">
        <div class="container" style="font-size:20px; margin-left: 10px;"> 
            <% if(!history_json.have_liked){ %>
                <div id="like-button">🖤</div>
            <% }else{ %>
                <div id="like-button" class="liked">❤️</div>
            <% } %>    
            &MediumSpace; <span id="likes"><%- history_json.likes %> </span>
            <span id="history_title" style="float: right;font-family:'Lucida Handwriting Italic';"></span>
        </div>  
        <hr>

        <p id="History"></p>
        <p id="choice">O que você escolhe?</p>
        <div id="options"></div>
    </div>

    <script src="/js/script.js"></script>
    <script>
        var current_choice = 0
        var options
        var main_json
        main_json = <%- JSON.stringify(history_json) %>
        history_initialization()
        load_history()
    </script>
    <% if(user){ %>
        <script>
            var state = main_json.have_liked
    
            document.getElementById('like-button').addEventListener('click', (el) => {
                el.currentTarget.classList.toggle('liked');
                let offset = el.currentTarget.classList.value === 'liked'? 1 : 0;
                offset = main_json.have_liked ? --offset: offset;
                if(!(el.currentTarget.classList.value === 'liked')){
                    document.getElementById('like-button').innerText ='🖤';
                    state = false
                }else{
                    document.getElementById('like-button').innerText ='❤️';
                    state = true
                }
                
                document.getElementById('likes').innerText = Number.parseInt(main_json.likes) + offset;
            });
    
            window.onbeforeunload = function(e) {
                call_like();
            }
            
            async function call_like(){
                if(state === main_json.have_liked){
                    return
                }
                result = await fetch("/like", {
                            method: "POST",
                            headers: {
                            "Content-Type": "application/json",
                            },
                            body: JSON.stringify({story_id: main_json._id, value: state}),
                        })
            }
        </script>
        <% } %>
</body>
</html>