<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Histórias</title>
    <%- include('../partials/head') %> 
    
    <link rel="stylesheet" type="text/css" href="/css/story.css">
    
    <style>
        .delete {
            color: red;
            cursor: pointer;
            text-decoration: none;
        }
        .delete:hover{
            text-decoration: underline;
        }
        .publish {
            color: blue;
            cursor: pointer;
            text-decoration: none;
        }
        .publish:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title">Suas Histórias</h1>
        </div>
    </div>

    <div id="content">
        <p>As histórias que você escreveu até agora são: </p>
        <div id="row">
            <% if (stories.length == 0){ %>
                <p>Nenhuma história até agora</p>
            <% } %>
            <% stories.forEach(function(story){ %>
                <div class="col-md-6">
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-header">
                            ❤️ <%- story.likes %>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title" style="font-family:'Lucida Handwriting Italic';"><%- story.Titulo %></h5>
                            <p class="card-text text-break" style="text-indent:0px; text-align: justify;">
                                "<%-`${story.Escolhas[0].História.slice(0, 200)}${story.Escolhas[0].História.length > 200 ? " ..." : "" }`%>"
                            </p>
        
                            <a href="/jogar_historia/<%- story._id %>/" class="btn btn-primary">Jogar História</a>
                        </div>
                        <div class="card-footer">
                            <span class="delete" id="<%- story._id %>">
                                    Deletar
                            </span>
                            -
                            <a href="/editar_historia/<%- story._id %>/">
                                    Editar
                            </a>
                            <% if(!story.published){ %>
                                    -  
                                <span class="publish" id="<%- story._id %>">
                                        Publicar
                                </span>
                            <% } %> 
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <script>
        let elems = document.getElementsByClassName('delete');
        function confirmIt () {
            if (confirm('Tem certeza disso que quer deletar essa história?')) {
                console.log(this.id)
                fetch("/delete", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({id: this.id}),
                })
                .then((response) => response.json())
                .then((data) => {
                    if(data.sucess){
                        window.alert("A história foi excluída com sucesso!");
                        document.location.reload(true)
                    }
                })
                .catch((error) => {
                    window.alert("Houve algum erro durante a exclusão da história");
                });
            }
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }


        let pub = document.getElementsByClassName('publish');
        function confirmPubIt () {
            if (confirm('Tem certeza disso que quer publicar essa história?')) {
                console.log(this.id)
                fetch("/publicar", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({id: this.id}),
                })
                .then((response) => response.json())
                .then((data) => {
                    if(data.sucess){
                        window.alert("Um email foi enviado para um administrador para que ele possa publicar sua história!");
                    }
                })
                .catch((error) => {
                    window.alert("Houve algum erro durante a solicitação de publicação da história.");
                });
            }
        };
        for (var i = 0, l = pub.length; i < l; i++) {
            pub[i].addEventListener('click', confirmPubIt, false);
        }
    </script>
</body>
</html>