<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Histórias</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    
    <link rel="stylesheet" type="text/css" href="/css/story.css">
    <style>
        .delete {
            color: red;
            cursor: pointer;
            text-decoration: none;
        }
        .delete:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title">Suas Histórias</h1>
        </div>
    </div>

    <div id="content">
        <p>As histórias que você escreveu até agora são: </p>
        <div id="options">
            <% if (stories.length == 0){ %>
                <p>Nenhuma história até agora</p>
            <% } %>
            <% stories.forEach(function(history){ %>
                <div class="encapsulator">
                    <a href="/jogar_historia/<%- history._id %>/" style="text-decoration: none; color: white;">
                    <div class="option">
                        <%- history.Titulo %>
                    </div>
                </a>
                <span>
                    <span class="delete" id="<%- history._id %>">
                        Deletar
                    </span>
                    -
                    <a href="/editar_historia/<%- history._id %>/">
                        Editar
                    </a>
                </span>
                </div>
            <% }); %>
        </div>
    </div>
    <script>
        var elems = document.getElementsByClassName('delete');
        function confirmIt () {
            if (confirm('Tem certeza disso que quer deletar essa história?')) {
                console.log(this.id)
                fetch("/delete", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({id: this.id}),
                })
                .then((response) => response.json())
                .then((data) => {
                    if(data.sucess){
                        window.alert("A história foi excluída com sucesso!");
                        document.location.reload(true)
                    }
                })
                .catch((error) => {
                    window.alert("Houve algum erro durante a exclusão da história");
                });
            }
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>
</body>
</html>