<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Histórias</title>
    <%- include('../partials/head') %> 
    
    <link rel="stylesheet" type="text/css" href="/css/story.css">
    
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title">Suas Histórias</h1>
        </div>
    </div>

    <div id="content">
        <p>As histórias que você escreveu até agora são: </p>
        <div class="row">
            <% if (stories.length == 0){ %>
                <p>Nenhuma história até agora</p>
            <% } %>
            <% stories.forEach(function(story){ %>
                <div class="col-md-6">
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-header">
                            ❤️ <%- story.likes %>

                            <h5 class="card-title" style="font-family:'Lucida Handwriting Italic'; display: inline-block; width: 70%;"><a href="/jogar_historia/<%- story._id %>/" style="text-decoration:none; color:black;"><%- story.Titulo %> </a></h5>

                            <button class="material-icons collapse_button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%- story._id %>" aria-expanded="false" aria-controls="collapse<%- story._id %>">arrow_drop_down</button>
                        </div>
                        <div class="collapse" id="collapse<%- story._id %>">
                            <div class="card-body text-center">
                                <p class="card-text text-break" style="text-indent:0px; text-align: justify;">
                                    "<%-`${story.Escolhas[0].História.slice(0, 100)}${story.Escolhas[0].História.length > 100 ? "..." : "" }`%>"
                                </p>
    
                            </div>
                        </div>
                        <div class="card-footer">
                                <span class="delete btn btn-danger" id="<%- story._id %>">
                                        Deletar
                                </span>
                                <a class="btn btn-primary" href="/editar_historia/<%- story._id %>/">
                                        Editar
                                </a>
                                <% if(!story.published){ %>
                                    <span class="publish btn btn-success" id="<%- story._id %>">
                                            Publicar
                                    </span>
                                <% } %> 
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <script>
        let elems = document.getElementsByClassName('delete');
        function confirmIt () {
            if (confirm('Tem certeza disso que quer deletar essa história?')) {
                console.log(this.id)
                fetch("/delete", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({id: this.id}),
                })
                .then((response) => response.json())
                .then((data) => {
                    if(data.sucess){
                        window.alert("A história foi excluída com sucesso!");
                        document.location.reload(true)
                    }
                })
                .catch((error) => {
                    window.alert("Houve algum erro durante a exclusão da história");
                });
            }
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }


        let pub = document.getElementsByClassName('publish');
        function confirmPubIt () {
            if (confirm('Tem certeza disso que quer publicar essa história?')) {
                console.log(this.id)
                fetch("/publicar", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({id: this.id}),
                })
                .then((response) => response.json())
                .then((data) => {
                    if(data.sucess){
                        window.alert("Um email foi enviado para um administrador para que ele possa publicar sua história!");
                    }
                })
                .catch((error) => {
                    window.alert("Houve algum erro durante a solicitação de publicação da história.");
                });
            }
        };
        for (var i = 0, l = pub.length; i < l; i++) {
            pub[i].addEventListener('click', confirmPubIt, false);
        }
    </script>
</body>
</html>