<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" type="text/css" href="/css/story.css">
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <div id="content">
        <div class="container" style="font-size:20px; margin-left: 10px;"> 
            <span style="font-family:'Lucida Handwriting Italic';"><%- profile_user.username %></span>
            <br>
        </div>  
        <hr>

        <h4>Histórias: </h4>

        <div class="row">
        <% stories.forEach(function(story){ %>
            <div class="col-md-6">
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-header">
                        ❤️ <%- story.likes %>

                        <h5 class="card-title" style="font-family:'Lucida Handwriting Italic'; display: inline-block; width: 70%;"><a href="/jogar_historia/<%- story._id %>/" style="text-decoration:none; color:black;"><%- story.Titulo %> </a></h5>

                        <button class="material-icons collapse_button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%- story._id %>" aria-expanded="false" aria-controls="collapse<%- story._id %>">arrow_drop_down</button>
                    </div>
                    <div class="collapse" id="collapse<%- story._id %>">
                        <div class="card-body text-center">
                            <p class="card-text text-break" style="text-indent:0px; text-align: justify;">
                                "<%-`${story.Escolhas[0].História.slice(0, 100)}${story.Escolhas[0].História.length > 100 ? "..." : "" }`%>"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
        <% if (stories.length == 0){ %>
            <p><%- profile_user.username %> não postou nenhuma história até agora. </p>
        <% } %> 
        </div>
    </div>
</body>
</html>